@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(241, 241, 241, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-n-header.is-open .q-n-header-background {
  left: 0;
}
.q-n-header-button-wrapper {
  margin-left: auto;
}
.q-n-header-icon {
  display: none;
}

.q-n-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-n-navigation-list.is-open {
  right: 0;
}
.q-n-header-icon-menu {
  display: block;
}

.q-n-header-icon-button.is-open .q-n-header-icon-menu {
  display: none;
}

.q-n-header-icon-button.is-open .q-n-header-icon-close {
  display: block;
}

.q-n-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(2, 2, 2, 1);
}

.q-n-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(2, 2, 2, 1);
}
.q-n-header.is-open .q-n-header-background {
  left: 0;
}
.q-n-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-n-header-icon-menu {
  display: block;
}

.q-n-header-icon-button.is-open .q-n-header-icon-menu {
  display: none;
}

.q-n-header-icon-button.is-open .q-n-header-icon-close {
  display: block;
}

.q-n-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.q-n-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 50px;
  gap: 32px;
  background: linear-gradient(180deg, #020202 0%, #752323 100%);
}

.q-n-navigation-list.is-open {
  right: 0;
}

.q-n-navigation-link {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(245, 244, 237, 1);
}

.q-n-navigation-link:hover,
.q-n-navigatioт-link:focus {
  color: rgba(255, 208, 45, 1);
}

.q-n-header.is-open {
  background-color: transparent;
}

.q-n-navigation-img {
  display: none;
}

@media screen and (min-width: 1199px) {
  .q-n-navigation-img {
    display: flex;
  }
  .q-n-policy-terms-header-icon-menu {
    display: none;
  }

  .q-n-header {
    width: 100%;
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-n-header-background {
  }
  .q-n-header-icon-button {
    display: none;
  }
  .q-n-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-n-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-n-navigation-link {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;

    text-decoration: none;
  }

  .q-n-navigation-item-desk {
    display: none;
  }
}
.q-n-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home.jpg");
  margin: auto;
}
.q-n-home-container {
  width: 375px;
  padding: 112px 20px 0px;
  margin: auto;
}

.q-n-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.q-n-home-title {
  font-family: Inter;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}

.q-n-home-text {
  font-family: Inter;
  font-weight: 800;
  font-size: 18px;
  text-align: center;

  padding: 32px 0 0;
}

@media screen and (min-width: 1199px) {
  .q-n-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/h.png");
  }
  .q-n-home-container {
    width: 1440px;
    padding: 163px 82px 0px;
  }

  .q-n-home-title {
    font-family: Inter;
    font-weight: 900;
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
  }

  .q-n-home-text {
    font-family: Inter;
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    padding: 32px 0 0;
  }
}
.q-n-about {
  background: linear-gradient(180deg, #020202 0%, #a13030 132.42%);
}
.q-n-about-container {
  width: 375px;
  padding: 32px 20px;
  margin: auto;
}
.q-n-about-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}
.q-n-about-text {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 16px 0 22px;
}

.q-n-about-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.q-n-about-item {
  height: 154;

  border-radius: 6px;
  color: rgba(0, 0, 0, 1);
  padding: 32px;
  border: 1px solid rgba(2, 2, 2, 1);
  background: linear-gradient(95.94deg, #d3d8e0 3.37%, #f5f4ed 96.53%);
}
.q-n-aboutt {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
}
.q-n-aboutts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  padding-top: 12px;
}
.q-n-about-two {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;

  padding-top: 28px;
}
@media screen and (min-width: 1199px) {
  .q-n-about-container {
    width: 1440px;
    padding: 32px 60px;
  }
  .q-n-about-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
  }
  .q-n-about-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    text-align: center;

    padding: 28px 0 22px;
  }

  .q-n-about-list {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .q-n-about-item {
    width: 425px;
    height: 154px;
    border-radius: 6px;
    padding: 32px;
  }
  .q-n-aboutt {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
  }
  .q-n-aboutts {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    padding-top: 12px;
  }
  .q-n-about-two {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    text-align: center;

    padding-top: 22px;
  }
}
.q-n-why {
  background: rgba(2, 2, 2, 1);
}
.q-n-why-container {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}
.q-n-why-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding-top: 16px;
}
.q-n-why-list {
  padding: 16px 0 22px;
}
.q-n-why-item {
  margin: 0 5px;
  color: rgba(0, 0, 0, 1);
  width: 335px;
  height: 354px;
  border-radius: 6px;
  padding: 16px;
  background: linear-gradient(237.07deg, #f5f4ed 0%, #d3d8e0 100%);
}

.q-n-why-item-img {
  margin: auto;
}
.q-n-why-text {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 12px 0;
}
.q-n-why-texts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.q-n-why-text-two {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
@media screen and (min-width: 1199px) {
  .q-n-why-container {
    width: 1440px;
    padding: 32px 60px;
  }

  .q-n-why-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    text-align: center;

    padding-top: 28px;
  }
  .q-n-why-list {
    padding: 22px 0 43px;
  }
  .q-n-why-item {
    margin: 0 11px;
    color: rgba(0, 0, 0, 1);
    width: 425ox;
    height: 354ox;
    gap: 12px;
    border-radius: 6px;
    padding: 16px;
  }
}

.q-n-how {
  margin: auto;
  background: linear-gradient(180deg, #020202 0%, #a13030 132.42%);
}
.q-n-how-container {
  margin: auto;
  width: 375px;
  padding: 32px 20px;
  width: 375px;
  height: 1348px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2.png");
}
.q-n-how-text-bold {
  padding-top: 14px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.q-n-how-list {
  padding-top: 475px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.q-n-how-item {
  background: rgba(161, 48, 48, 1);
  width: 335;
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
}
.q-n-how-t {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.q-n-how-ts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
}
.q-n-how-two {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 22px;
}
@media screen and (min-width: 1199px) {
  .q-n-how {
    background: linear-gradient(180deg, #020202 0%, #a13030 132.42%);
  }
  .q-n-how-container {
    margin: auto;
    width: 1440px;
    padding: 32px 60px;
    height: 750px;
    background-image: url("/img/22.png");
  }
  .q-n-how-text-bold {
    padding-top: 28px;
    width: 909px;
    margin: auto;
  }
  .q-n-how-list {
    padding: 22px 0 0 700px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.q-n-hows {
  margin: auto;
  background: rgba(0, 0, 2, 1);
}
.q-n-hows-container {
  margin: auto;
  width: 375px;
  padding: 32px 20px;
}
.q-n-hows-text-bold {
  padding-top: 16px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.q-n-hows-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.q-n-hows-item {
  width: 335px;
  border-radius: 6px;
  padding: 16px;
  color: rgba(0, 0, 0, 1);
  background: linear-gradient(180deg, #f5f4ed 0%, #d3d8e0 100%);
}
.q-n-hows-img {
  width: 303px;
  height: 230px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}
.q-n-hows-t {
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;

  text-align: center;
  padding: 22px 0 10px;
}
.q-n-hows-ts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-top: 12px;
}
@media screen and (min-width: 1199px) {
  .q-n-hows-container {
    margin: auto;
    width: 1440px;
    padding: 32px 60px;
  }
  .q-n-hows-text-bold {
    padding-top: 28px;
  }
  .q-n-hows-list {
    padding-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .q-n-hows-item {
    width: 500px;
    height: 429px;
    border-radius: 6px;
    padding: 16px;
  }
  .q-n-hows-img {
    width: 468px;
    height: 230px;
    border-radius: 6px;
  }
}
.q-n-features-container {
  width: 375px;
  margin: auto;
  height: 780px;
  background-image: url("/img/3.png");
  padding: 32px 36px;
}
.q-n-features-text {
  padding: 32px 0 0px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.q-n-features-text-bold {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;

  padding-top: 12px;
}
.q-n-features-text-bolds {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  text-align: center;

  color: rgba(241, 241, 241, 1);
  text-decoration: none;
}

.q-n-features-form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 24px;
}
.q-n-features-input {
  border: none;
  background: rgba(255, 255, 255, 1);

  border-radius: 6px;
  padding: 15px 24px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
}
.q-n-features-textarea {
  height: 110px;

  resize: none;
}
.q-n-features-button {
  width: 245.8984375px;
  height: 74.73370361328125px;

  background-color: transparent;
  border: none;
  margin: auto;
}
@media screen and (min-width: 1199px) {
  .q-n-features-container {
    width: 1440px;
    height: 800px;
    margin: auto;
    padding: 32px 60px;
    background-image: url("/img/33.png");
  }

  .q-n-features-text {
    padding: 72px 0 0px;
    width: 588px;
    margin: auto;
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
  }

  .q-n-features-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-top: 24px;
    width: 588px;
    margin: auto;
  }
  .q-n-features-input {
    border: none;
    background: rgba(255, 255, 255, 1);

    border-radius: 6px;
    padding: 15px 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
  }
  .q-n-features-textarea {
    height: 110px;

    resize: none;
  }
  .q-n-features-button {
    width: 245.8984375px;
    height: 74.73370361328125px;

    background-color: transparent;
    border: none;
    margin: auto;
  }
}

.q-n-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.q-n-container h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.q-n-container h2 {
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

.q-n-container h3 {
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}

.q-n-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.q-n-container ul li {
  margin-bottom: 10px;
}
.q-n-container p {
  margin-top: 10px;
}
.q-n-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.q-n-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1199px) {
  .q-n-container {
    padding: 140px 86px 40px;
    width: 1440px;
    margin: auto;
  }

  .q-n-container h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-n-container h2 {
    margin-top: 20px;
  }

  .q-n-container h3 {
    margin-top: 20px;
  }

  .q-n-container ul {
    margin-top: 20px;
  }

  .q-n-container ul li {
    margin-bottom: 10px;
  }
  .q-n-container p {
    margin-top: 20px;
  }
}

.q-n-footer-container {
  width: 375px;
  margin: auto;
  padding: 30px 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  color: rgba(255, 255, 255, 1);
}

.q-n-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.q-n-footer-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.q-n-footer-copyright {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding-bottom: 12px;
}
.q-n-footer-title {
  font-family: Poppins;
  font-weight: 900;
  font-size: 27.43px;
  color: rgba(255, 208, 45, 1);
  -webkit-text-stroke: 1.52px rgba(0, 0, 0, 1);
}
@media screen and (min-width: 1199px) {
  .q-n-footer-container {
    width: 1440px;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 315px;
  }

  .q-n-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .q-n-footer-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}

.q-n-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  padding: 37px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  border: 1px solid rgba(162, 72, 72, 1);
  z-index: 1000;
  display: none;
}

.q-n-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;

  color: rgba(87, 78, 68, 1);
}

.q-n-cookie-button-container {
  padding: 37px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.q-n-cookie-button {
  border: none;
  background-color: transparent;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(239, 240, 246, 1);
  box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
  width: 110px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;

  color: rgba(87, 78, 68, 1);
  border-radius: 56px;
  padding-top: 18px;
  padding-bottom: 18px;
}

#accept-cookies {
  width: 173px;

  border-radius: 56px;
  padding-top: 18px;
  background: rgba(161, 48, 48, 1);

  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
  color: rgba(255, 255, 255, 1);
  padding-bottom: 18px;
}

.q-n-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1199px) {
  .q-n-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-n-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;

    width: 600px;
  }

  .q-n-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .q-n-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;
    padding: 32px 138px;
    display: none;
  }
}
